<tr data-hostid="<%= clusterhost_id %>">
  <td>
    <%= port %>
  </td>
  <td>
    <input class="rounded hostname non-empty-value" name="hostname" value="<%= hostname  %>">
  </td>
  <td>
    <input class="rounded managenetIp non-empty-value" name="managenetIp" value="<%= management_ip  %>">
  </td>
  <td>
    <input class="rounded tenantIp non-empty-value" name="tenantIp" value="<%= tenant_ip  %>">
  </td>
  <td>
    <select multiple="multiple" class="roles" name="roles">
    </select>
  </td> 
</tr>
